[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
gunicorn = "*"
asgiref = "*"
psycopg2 = "*"
sqlparse = "*"

[dev-packages]
